//Age verify
#av-overlay {
	padding: 20px 10px;
	.top {
		.logo {
			height: 100px;
		}
		.descript {
			font-size: 14px;
			line-height: 14px;
			padding: 10px;
			padding-bottom: 25px;
		}
	}
	.dropdown select {
		background-position: 60px 8px;
		padding-left: 10px;
		width: 80px;
	}
	.terms {
		input[type=checkbox]:not(old) + label {
			width: 220px;
			font-size: 14px;
			line-height: 14px;
		}
	}
	.submit {
		#av_verify {
			height: 50px;
			width: 140px;
		}
	}
}


//Article
article {
	&.terms, &.about-us {
		min-width: 280px;
		width: calc(100% - 10px);
	}
  &.about-us{
	padding: 0!important;
  }
	.date {
		height: 100px;
		width: 40px;
		.day {
			font-size: 24px;
		}
		.mounth {
			font-size: 12px;
		}
		.clock {
			height: 12px;
			margin: 8px auto;
			width: 12px;
		}
	}
	.social {
		width: 100px;
		.fa {
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			width: 30px;
		}
		p {
			font-size: 14px;
		}
	}
}


//Contact
.contact .main {
	form {
		p {
			span input, span textarea {
				border-width: 3px;
				font-size: 14px;
				height: 32px;
				line-height: 32px;
			}
			span textarea {
				height: 80px;
			}
			input[type="submit"] {
			}
		}
	}
}


//Gallery
section.gallery {
	.gallery-list {
		.artist-wrapper {
			.artist-info {
				padding: 0;
				.info {
					.italic {
						font-size: 16px;
					}
					.center {
						h1 {
							font-size: 28px;
						}
						.legend {
							font-size: 12px;
						}
					}
				}
			}
		}
		.photo {
			&:nth-child(2) {
				margin-top: -110px;
			}
		}
	}
}


//Header
header {
	.logo.single {
		height: 160px;
		width: 160px;
	}
	.artist-holder {
		@include boxSizing(border-box);
		height: 75px;
		padding: 7px;
		top: 68%;
		width: 160px;
		.artist {
			border-width: 3px;
			padding: 5px 15px;
			.by {
				font-size: 16px;
				font-weight: 500;
				line-height: 22px;
			}
			h2 {
				font-size: 11px;
				line-height: 25px;
			}
		}
	}
}
.artist-holder.big {
	.artist {
		padding: 10px 20px;
		.big-title {
			line-height: 18px;
			margin: 10px 0;
			.mounth {
				font-size: 14px;
			}
			.separator {
				height: 8px;
				margin-right: calc(100% - 32px);
				width: 32px;
			}
			h1 {
				line-height: 24px;
				font-size: 18px;
				margin-top: 15px;
			}
		}
		.description {
			font-size: 12px;
			line-height: 20px;
		}
	}
}

//Menu
.menu-open {
	.menu-holder {
		ul {
			li {
				font-size: 20px!important;
				letter-spacing: 6px!important;
				margin: 20px auto!important;
			}
		}
	}
}